apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ template "app.chartname" . }}-participants-configmap"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
    app.kubernetes.io/instance: {{ include "app.revision" . }}
    app.kubernetes.io/part-of: federated-catalog
data:
  participants.json: |-
    {
    {{- $list := .Values.config.participants }}
    {{- range $i, $target := $list }}
    {{- $lastIndex := sub (len $list) 1 }}
    {{- if not (eq $i $lastIndex) }}
      "Participant {{ add $i 1 }}": "{{ $target.url }}",
    {{- else }}
      "Participant {{ add $i 1 }}": "{{ $target.url }}"
    {{- end }}
    {{- end }}
    }